.bonus {
  background-image:  linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../img/background/bonus-mobile.jpg");
  background-repeat: no-repeat;
}

.bonus__description {
  line-height: 26px;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .bonus {
    width: 100%;
    height: 200px;
  }
}

@media (min-width: $desktop-width) {
  .bonus {
    width: 245px;
  }
}
