.catalog__list {
  @include list-reset;

  border-top: 1px solid #ebebeb;
}

@media (max-width: $mobile-width-only) {
  .catalog__container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 63px 80px;
  }
}
