.copyright__link {
  color: #444444;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .copyright__link svg {
    margin-left: 23px;
  }

  .copyright__link:active {
    opacity: 0.3;
  }

  .copyright__link:hover svg,
  .copyright__link:focus svg {
    color: $base-color;
  }
}
