.form__container {
  position: relative;
}

.form__container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $base-color;
  left: 0;
  top: 15px;
}

.form__item {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  border: none;
}

.form__field {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__label {
  font-family: $secondary-font;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;

  &--text {
    margin-right: 13px;
  }
}



.form__control {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  flex-grow: 1;
  width: 170px;
  height: 45px;
  border: 1px solid #e7e7e7;
  padding-left: 15px;
  padding-right: 15px;
}

.form__legend {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
}

.form__control--textarea {
  width: 100%;
}

.form__notice {
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__item {
    margin-bottom: 65px;
  }

  .form__wrapper-checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  .form__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .form__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }

  .form__item {
    margin-bottom: 70px;
  }

  .form__wrapper-checkbox {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 80px;
  }
}
