.main-wrapper__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-wrapper__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
  }

  .main-wrapper {
    padding-top: 58px;
    padding-bottom: 95px;
  }

  .main-wrapper--form {
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 58px;
  }
}

@media (min-width: $desktop-width) {
  .main-wrapper {
    padding-top: 70px;
  }

  .main-wrapper--form {
    padding-left: 40px;
    padding-right: 40px;
  }
}
