.main-header {
  min-height: 65px;
}

.main-header__container {
  display: flex;
  flex-direction: column;
}

.main-header__logo {
  height: 65px;
  margin-left: 20px;
  width: 200px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo img {
  height: 65px;
}

@media (max-width: $mobile-width-only) {
  .main-header__container {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .main-header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
  }

  .main-header__logo {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-header--index-green {
    position: relative;

    &::before {
      content: "";
      width: 50%;
      height: 694px;
      background-color: rgba(104, 183, 56, 0.85);
      position: absolute;
      top: 0;
      left: 50%;
      background-image: linear-gradient(
          rgba(104, 183, 56, 0.85),
          rgba(104, 183, 56, 0.85)
        ),
        url("../img/background/promo-desktop-bg.jpg"),
        linear-gradient(#4e4d52, #4e4d52);
      background-position: right;
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(104, 183, 56, 0.85),
            rgba(104, 183, 56, 0.85)
          ),
          url("../img/background/promo-desktop-bg@2x.jpg"),
          linear-gradient(#4e4d52, #4e4d52);
        background-size: 720px auto;
      }
    }
  }

  .main-header__container {
    padding-top: 53px;
  }
}
