.product-card {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ebebeb;
  padding-left: 20px;
  padding-right: 20px;
}

.product-card__wrapper {
  margin-bottom: 8px;
  flex-grow: 1;

  a {
    text-decoration: none;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  max-width: 76px;
  margin-top: 0;
}

.product-card__parameters {
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__parameters-row {
  display: flex;
  justify-content: space-between;
}

.product-card__description {
  font-family: $main-font;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  text-align: center;
  margin: 0;
  margin-bottom: 21px;
  margin-top: 8px;
}

.product-card--more {
  position: relative;
  display: block;
  padding-top: 78px;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/svg/plus.svg");
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-card__title {
    color: #111111;
    max-width: 100%;
    text-align: center;
    margin: 0;
  }
}

.product-card__image {
  width: 140px;
  height: 107px;
}

@media (min-width: $tablet-width) {
  .product-card {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 40px;
    border: none;
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 71px,
      #f2f2f2 71px,
      #f2f2f2 100%
    );
  }

  .product-card__image {
    width: 200px;
    height: 210px;
  }

  .product-card__description {
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
  }

  .product-card--more {
    margin: 0;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #f2f2f2;
    margin-top: 74px;
    padding-top: 157px;
    padding-bottom: 37px;

    &::before {
      width: 60px;
      height: 60px;
      background-image: url("../img/svg/plus-tablet.svg");
      top: 48px;
    }

    .product-card__title {
      font-size: 20px;
      line-height: 24px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 16px;
    }
  }

  .product-card__wrapper {
    margin: 0;
  }

  .product-card__link {
    text-align: center;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    width: 135px;
    margin-top: 19px;
    margin-bottom: 21px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    text-align: center;
  }

  .product-card__parameters {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .product-card__parameters-row {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 3px;
    margin-bottom: 8px;
  }

  .product-card__parameters-row:last-child {
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__image {
    width: 169px;
    height: 210px;
  }

  .product-card {
    padding-left: 30px;
    padding-right: 30px;
  }

  .product-card__title {
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .product-card--more {
    margin-top: 70px;
    padding-top: 150px;
  }

  .product-card__description {
    margin-bottom: 90px;
  }

  .product-card__wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }

  .product-card__parameters-row {
    padding-bottom: 5px;
    margin-bottom: 6px;
  }

  .product-card__parameters-row:last-child {
    margin-bottom: 35px;
  }

  .product-card__button {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
  }
}
