.program-type__list {
  @include list-reset;
}

.program-type__item {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;

  &--slim {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $base-color;
      top: 24px;
      left: 20px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 36px;
      height: 50px;
      background-image: url("../img/svg/cat-slim.svg");
      top: 21px;
      left: 27px;
    }
  }

  &--fat {
    &::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: $base-color;
      top: 24px;
      left: 21px;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 67px;
      height: 28px;
      background-image: url("../img/svg/cat-pro.svg");
      top: 35px;
      left: 13px;
      background-size: contain;
    }
  }
}

.program-type__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;
  margin: 0;
  padding-top: 10px;
  margin-bottom: 29px;
}

.program-type__description {
  font-family: $main-font;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
}

.program-type__link {
  font-family: $secondary-font;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-top: 18px;
  padding-right: 57px;
  position: relative;

  &::after {
    @include pseudo;

    width: 32px;
    height: 10px;
    background-image: url("../img/svg/arrow-long.svg");
    right: 8px;
    top: 3px;
    background-position: right 8px center;
    background-repeat: no-repeat;
    transition: background-position 0.3s;
  }

  &:hover {
    &::after {
      background-position: right 0 center;
      transition: background-position 0.3s;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .program-type__title {
    padding: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;
  }

  .program-type__description {
    border-bottom: none;
    margin-bottom: 52px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }

  .program-type__item {
    padding: 77px 316px 55px 52px;
    margin-bottom: 31px;

    &--slim {
      &::before {
        width: 200px;
        height: 200px;
        top: 92px;
        left: 445px;
      }

      &::after {
        width: 140px;
        height: 194px;
        background-size: 140px 194px;
        top: 81px;
        left: 475px;
      }
    }

    &--fat {
      &::before {
        width: 200px;
        height: 200px;
        top: 92px;
        left: 445px;
      }

      &::after {
        width: 268px;
        height: 112px;
        background-size: 268px 112px;
        top: 135px;
        left: 411px;
      }
    }
  }

  .program-type__link {
    font-size: 20px;
    line-height: 30px;
    margin-top: 0;

    &::after {
      top: 10px;
      right: -1px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program-type__list {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }

  .program-type__item {
    padding: 77px 61px 59px 52px;
    margin-bottom: 55px;

    &--slim {
      &::before {
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
      }

      &::after {
        background-size: 70px 97px;
        background-repeat: no-repeat;
        top: 41px;
        left: 67px;
      }
    }

    &--fat {
      &::before {
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
      }

      &::after {
        top: 67px;
        left: 33px;
        background-size: 134px 56px;
        background-repeat: no-repeat;
      }
    }
  }

  .program-type__title {
    padding-left: 162px;
    margin: 0;
    margin-bottom: 73px;
  }

  .program-type__description {
    margin-bottom: 27px;
  }

  .program-type__link {
    margin-top: 0;
  }
}
