.promo {
  color: #ffffff;
  background-image: linear-gradient(
      to bottom,
      rgba(104, 183, 56, 0.85) 0%,
      rgba(104, 183, 56, 0.85) 302px,
      transparent 302px
    ),
    url("../img/background/promo-mobile-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 20px;
  min-height: 500px;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(104, 183, 56, 0.85) 0%,
        rgba(104, 183, 56, 0.85) 302px,
        transparent 302px
      ),
      url("../img/background/promo-mobile-bg@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 1px;
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
  margin-left: -2px;
}

.promo__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 44px;
  margin-top: 3px;
  width: 100%;
  text-align: center;
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .promo {
    background-image: none;
    min-height: 870px;
    padding: 0;
    padding-top: 60px;
  }

  .promo__wrapper {
    position: relative;
  }

  .promo__title {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    max-width: 450px;
    margin-bottom: 40px;
    margin-left: 90px;
  }

  .promo__slogan {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 49px;
    margin-left: 90px;
  }

  .promo__link {
    font-size: 20px;
    line-height: 26px;
    width: auto;
    padding: 14px 26px;
    margin: 0;
    margin-left: 90px;
  }

  .promo__image {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    min-height: 576px;
    margin-bottom: 82px;
    position: relative;
    z-index: 2;
    padding-top: 106px;
    padding-bottom: 50px;
  }

  .promo__title {
    margin-left: 80px;
  }

  .promo__image {
    position: absolute;
    top: -81px;
    left: 447px;
  }

  .promo__slogan {
    margin-bottom: 52px;
    margin-left: 80px;
    max-width: 440px;
  }

  .promo__link {
    margin-left: 80px;
  }
}
