// Fonts
$main-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial Narrow", sans-serif;

// Colors
$base-color: #68b738;

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
